@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap");

@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  background-color: #0b1c3d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
}

@theme {
  --color-PrimaryBlue: #1e40ff;
  --color-SecondaryBlue: #0b1c3d;
}
